/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <230>;
};

/ {
    behaviors {
        FSL_FIND: FSL_FIND {
            compatible = "zmk,behavior-tap-dance";
            label = "FSL_FIND";
            #binding-cells = <0>;
            bindings = <&kp FSLH>, <&kp LC(LG(F))>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        main {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp Q  &kp W                       &mt END E  &kp R               &kp T                            &mt GRAVE ESCAPE                     &kp MINUS                                &mt NUMBER_1 Y  &mt NUMBER_2 U  &mt NUMBER_3 I  &mt N0 O  &mt EQUAL P
&kp A  &mt RC(RG(RS(NUMBER_4))) S  &kp D      &kp F               &kp G                            &mt LA(TAB) TAB                      &mt NUMBER_4 SQT                         &mt N5 H        &mt NUMBER_6 J  &kp K           &kp L     &kp SEMI
&kp Z  &kp X                       &kp C      &kp V               &kp B                            &mt LS(LG(LEFT_BRACKET)) LEFT_ALT    &mt RG(RS(RIGHT_BRACKET)) RIGHT_BRACKET  &mt N7 N        &mt N8 M        &mt N9 COMMA    &kp DOT   &FSL_FIND
                                              &lt 1 LEFT_BRACKET  &mt LEFT_SHIFT LEFT_PARENTHESIS  &kp LGUI                             &mt RCTRL RET                            &kp SPACE       &kp BSPC
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Raise";
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4   &kp F5   &kp F6     &trans  &kp PLUS  &kp MINUS  &kp ASTRK     &kp SLASH  &kp EQUAL
&kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12    &trans  &kp LEFT  &kp DOWN   &kp UP_ARROW  &kp RIGHT  &trans
&trans  &trans  &trans  &trans   &trans   &trans     &trans  &trans    &trans     &trans        &trans     &trans
                        &trans   &trans   &trans     &trans  &trans    &kp CAPS
            >;
        };
    };
};
