/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <230>;
};

/ {
    behaviors {
        FSL_FIND: FSL_FIND {
            compatible = "zmk,behavior-tap-dance";
            label = "FSL_FIND";
            #binding-cells = <0>;
            bindings = <&kp FSLH>, <&kp LC(LG(F))>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        main {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&mt NUMBER_1 Q  &mt NUMBER_2 W              &mt N3 E  &mt NUMBER_4 R      &mt N5 T                         &mt GRAVE ESCAPE                     &mt NUMBER_6 MINUS                       &mt N7 Y   &mt N8 U  &mt N9 I   &mt N0 O  &mt EQUAL P
&kp A           &mt RC(RG(RS(NUMBER_4))) S  &kp D     &kp F               &kp G                            &mt LA(TAB) TAB                      &kp SQT                                  &kp H      &kp J     &kp K      &kp L     &kp SEMI
&kp Z           &kp X                       &kp C     &kp V               &kp B                            &mt LS(LG(LEFT_BRACKET)) LEFT_ALT    &mt RG(RS(RIGHT_BRACKET)) RIGHT_BRACKET  &kp N      &kp M     &kp COMMA  &kp DOT   &FSL_FIND
                                                      &lt 1 LEFT_BRACKET  &mt LEFT_SHIFT LEFT_PARENTHESIS  &mt LGUI LEFT_BRACE                  &mt RCTRL RET                            &kp SPACE  &kp BSPC
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Raise";
            bindings = <
&kp F1      &kp F2        &kp F3      &kp F4      &kp F5         &kp F6     &trans  &kp PLUS  &kp MINUS  &kp ASTRK     &kp SLASH  &kp PIPE
&kp F7      &kp F8        &kp F9      &kp F10     &kp F11        &kp F12    &trans  &kp LEFT  &kp DOWN   &kp UP_ARROW  &kp RIGHT  &trans
&bt BT_CLR  &bt BT_SEL 0  &bt BT_NXT  &bt BT_PRV  &bt BT_DISC 0  &trans     &trans  &trans    &trans     &trans        &trans     &trans
                                      &trans      &trans         &trans     &trans  &trans    &kp CAPS
            >;
        };
    };
};
